/*.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

body {
  font-family: inter, sans-serif;
}

.hero-container {
  background-color: #403d58;
  background-image: url(/assets/HeroBanner.jpg);
  color: #F45B69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  justify-content: center;
}


.hero-image {
  width: 100%;
  height: 100%;
    }


.content-container {
  background-color: #dbd56e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
}

.content-image {
  width: 100%;
  height: 100%;
    }

    .font-awesome {
      font-size: 24px; 
      color: #F45B69;
    }
    

.accordion-container {
  background-color: #fc7753;
  text-align: center;
  color: #fff;
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}


.accordian{
  margin: 60px auto;
  width: 600px;
  color: black;
}


.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #e3edf7;
}

.accordian li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .accordian {
    width: 50%;
  }
}


label::before{
content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"]{
display: none;
}

.accordian .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before{
  content: '-';
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.map-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.map-content h1 {
  color: #333;
  margin-bottom: 60px;
}





